nav{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100px;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.171);
    
    .leftPart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: $white;
        font-size: 0.9rem;
        font-family: "Inter", sans-serif;
        letter-spacing: 2px;

        li{
            display: block;
            padding: 0 12px;
            height: 100px;
        }

        #this{
            background-color: $grey1;
            color: $black;
        }
    }
    
    
    .rightPart{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
        color: $white;
    }
    i{
        border: none;
        margin: 0 15px;
        font-size: 1.5rem;
    }
    i:hover{
        transform: scale(1.2);
    }
}