// ****************     DECLARATION DES FONTS       ***************

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}
// ****************     DECLARATION DES VARIABLES       ***************

$grey1: #F3F3F3;
$grey2: grey;
$white: #FFFFFF;
$black: #000;

// ****************     PARAMETRES GENERAUX       ***************

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background: url(../img/bg.webp) center/cover fixed;
    text-align: center;
    justify-content: center;
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
}

h1, h2, h3, a{
    font-family: "inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;    
    text-decoration: none;
}
p{
    font-family:"Merriweather", sans-serif;
    line-height: 30px;
}
a{
    letter-spacing: 2px;
}
a:visited{
    color: unset;
}

// ****************     MIXIN      ***************

@mixin network{
    display: flex;
    margin: 20px 0 8px;
    font-size: 1.5rem;
}